@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 60 17% 94%;
    --foreground: 0 0% 13%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;

    --primary: 194 47% 23%;
    --primary-foreground: 60 17% 94%;

    --secondary: 173 39% 54%;
    --secondary-foreground: 0 0% 13%;

    --muted: 60 6% 84%;
    --muted-foreground: 0 0% 13%;

    --accent: 173 39% 54%;
    --accent-foreground: 0 0% 13%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 17% 94%;

    --border: 60 6% 84%;
    --input: 60 6% 84%;
    --ring: 32 75% 53%;

    --radius: 0.5rem;

    --brand: 32 75% 53%;
    --brand-foreground: 0 0% 13%;
    --brand-dark: 32 75% 43%;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 60 17% 94%;

    --card: 194 47% 23%;
    --card-foreground: 60 17% 94%;

    --popover: 194 47% 23%;
    --popover-foreground: 60 17% 94%;

    --primary: 32 75% 53%;
    --primary-foreground: 0 0% 13%;

    --secondary: 173 39% 54%;
    --secondary-foreground: 0 0% 13%;

    --muted: 60 6% 84%;
    --muted-foreground: 0 0% 13%;

    --accent: 173 39% 54%;
    --accent-foreground: 0 0% 13%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 17% 94%;

    --border: 60 6% 84%;
    --input: 60 6% 84%;
    --ring: 32 75% 53%;

    --brand: 32 75% 53%;
    --brand-foreground: 0 0% 13%;
    --brand-dark: 32 75% 43%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
